header {
  padding: 11.5px 16px;
  border-bottom: 1px solid rgb(196, 195, 187);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  max-width: 100px;
}

.navbar-right {
  display: flex;
}

.header-icon {
  height: 20px;
}

/* mobile menu */

.bar{
  display: block;
  width: 18px;
  height: 3px;
  margin: 0 auto 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-primary);
  border-radius: 4px;
}

  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position:fixed;
    top: 66px;
    right: -100%;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height:calc(100vh - 90px);
    /* text-align: center; */
    z-index: 1;
    opacity: 0;
    transition:opacity 150ms ease-in-out;
  }

  .nav-menu.active {
    right: 0;
    z-index: 2;
    opacity: 1;
    }