main section {
  padding: 1.5rem;
  background-color: var(--clr-cream);
}

@media screen and (min-width:800px) {
  main section {
    padding-inline: max(96px,6.5%);
    padding-block: 80px;
  }
}

/* hero */

.hero-container {
  position: relative;
}

.hero-container .wave {
  object-fit: cover;
  object-position: 50% 40%;
  width: 100%;
  max-width: unset;
  overflow: hidden;
}

.hero-container::after {
  width: 100%;
  height: 20%;
  content: '';
  background-image: url('images/Repeating Wave 1.svg');
  background-position: 50% 50%;
  background-size: 500%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.hero {
  background-color: var(--clr-seafoam-secondary);
  position: relative;
}

.hero h1 {
  padding-bottom: 20px;
  display: flex;
  width: min-content;
  background-image: url('images/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero h3 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.hero-txt p {
  margin-bottom: 8px;
}

.hero-button {
  padding-block: 24px;
  z-index: 1;
  position: relative;
  display: grid;
  gap: 16px;
}

/* .hero-button .btn:nth-child(1){
  margin-bottom: 16px;
} */

.hero-button .btn:nth-child(2) {
  padding-block: 11px;
}

.hero-right {
  display: none;
}

/* hero desktop */
@media screen and (min-width:800px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  .hero h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .hero-button {
    display: flex;
    width: 80%;
  }

  .hero-right {
    display: block;
    z-index: 2;
  }
}

/* treatment */

.treatment {
  padding-block: 40px;
}

.treatment > p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.treatment-list {
  display: grid;
  gap: 16px;
}

.treatment-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.treatment-item p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--clr-primary);
}

@media screen and (min-width:800px) {
  .treatment-list {
    grid-template-columns: repeat(3,1fr);
    row-gap: min(32px, 10%);
  }
}

/* pricing */

.pricing {
  margin-bottom: 60px;
}

.feature-wrapper {
  display: grid;
  row-gap: 16px;
}

.features,
.monthly,
.annual {
  border-radius: 16px;
}

:is(.features, .annual, .monthly) h4 {
  padding: 8px 24px;
  background-color: var(--clr-lightgreen);
  border-radius: 16px 16px 0px 0px;
  text-align: center;
  font-weight: 700;
}

.feature-item {
  padding-block: 16px 12px;
  /* padding-right: 24px; */
  margin-inline: 16px;
  display: grid;
  grid-template-areas: "a b"
  "a c";
  column-gap: 16px;
  row-gap: 6px;
  border-bottom: 1px solid rgba(237, 237, 235, 1);
  position: relative;
}

.feature-item img {
  grid-area: a;
}

.feature-item h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.feature-item p {
  font-size: 14px;
  line-height: 20px;
  color: var(--clr-mugwort);
}

.annual-value,
.monthly-value,
.button-container {
  padding: 16px 16px 12px 16px;
}

.best-value {
  width: fit-content;
  padding: 3px 8px;
  display: flex;
  flex-wrap: nowrap;
  gap: 7px;
  background-color: var(--clr-seafoam-secondary);
  border-radius: 4px;
}

.price {
  margin-block: 4px;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Poppins';
  font-weight: 500;
}

.price span {
  font-weight: 500;
  vertical-align: top;
}

.price strong {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.signup-fee {
  font-size: 12px;
  line-height: 13px;
  color: var(--clr-darkgreen);
}

.button-container {
  padding-top: 8px;
}

.cancellation {
  margin-bottom: 16px;
  display: grid;
  grid-template-areas: "a b"
  "a c";
  column-gap: 8px;
  row-gap: 4px;
  justify-content: center;
}

.cancellation img {
  grid-area: a;
}

.cancellation h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--clr-primary);
  font-family: 'Lato',sans-serif;
}

.cancellation p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 4px;
}

div:has(> .expect) {
  display: flex;
  justify-content: center;
}

.expect {
  margin-block: 9px;
  color: var(--clr-primary);
  line-height: 24px;
  font-weight: 700;
  font-family: 'Lato';
  border-bottom: 2px solid var(--clr-primary);
}

@media screen and (min-width:800px) {
  .feature-wrapper {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px 300px;
    column-gap: 24px;
  }

  .features {
    grid-row: 1 / span 2;
  }

  .feature-wrapper .container {
    grid-column: 2 / span 1;
  }
}

/* impact */

.impact {
  padding-bottom: 60px;
}

.impact h2 {
  padding-bottom: 20px;
  display: flex;
  width: min-content;
  background-image: url('images/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.impact-txt p {
  margin-block: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.impact-list {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
}

.impact-list > p {
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(237, 237, 235);
}

.impact-item-container {
  padding-block: 24px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
}

.impact-item img {
  margin-inline: auto;
  margin-bottom: 8px;
}

.impact-item p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--clr-primary);
}

.impact .button-container .btn:nth-child(1) {
  margin-bottom: 16px;
}

@media screen and (min-width:800px) {
  .impact {
    min-height: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  .impact-txt {
    grid-column: 2 / span 1;
  }

  .impact-list {
    padding: 64px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .impact-item-container {
    row-gap: 70px;
  }

  .impact .button-container {
    padding-left: 0;
    grid-column: 2 / span 1;
    display: flex;
    gap: 24px;
    height: fit-content;
  }

  .impact .button-container .btn {
    min-width: min-content;
    max-width: 210px;
  }

  .impact .button-container .btn:nth-child(1) {
    margin-bottom: 0;
    order: 1;
  }

}

/* case */

.case {
  margin-bottom: 60px;
}

.case .image-container img {
  margin-inline: auto;
}

.caption {
  margin-top: 16px;
  margin-inline: 16px;
  padding-inline: 8px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgb(143, 141, 125);
}

.case-item {
  z-index: 1;
}

.case-item .text {
  margin-top: 32px;
  margin-inline: 1.5rem;
}

.case-item h4 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Lato',sans-serif;
}

.case-item .member {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}

.case-item h5 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(33, 56, 41);
}

.tag-container {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  padding: 6px 8px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: rgba(62,61,53,1);
  background-color: rgba(238, 224, 205, 1);
  border-radius: 4px;
}

.case-item  > p:last-child {
  font-size: 18px;
  line-height: 30px;
  color: rgba(62, 61, 53, 1);
  font-family: 'Poppins',sans-serif;
}

@media screen and (min-width:800px) {
  .case-item {
    margin-bottom: 100px;
    position: static;
    display: flex;
  }

  .case-item:nth-child(2n+1) {
    padding-right: 110px;
  }

  .case-item:nth-child(2n) {
    padding-left: 110px;
  }

  .case-item .image-container img {
    min-width: 500px;
  }

  .caption {
    margin-inline: auto;
    width: 70%;
  }
}

/* review */

.review {
  margin-bottom: 60px;
}

.review-item {
  min-height: 350px;
  padding: 32px 24px;
  background-color: white;
  border-radius: 16px;
}

.rating {
  margin-bottom: 16px;
  padding: 4px 8px;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--clr-seafoam-secondary);
  border-radius: 4px;
}

.star-container {
  display: flex;
  flex-wrap: nowrap;
}

.rate {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Lato',sans-serif;
  color: rgba(100, 116, 105, 1);
}

.review-item-txt {
  padding-left: 34px;
  line-height: 28px;
  font-weight: 500;
  font-style: italic;
  font-family: 'Poppins',sans-serif;
  position: relative;
}

.review-item-txt::before {
  content: '';
  width: 6px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--clr-primary);
  position: absolute;
  top: 0;
  left: 4px;
}

.review-item .initial {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  font-family: 'Lato',sans-serif;
  color: var(--clr-mugwort);
  display: block;
}

.google {
  margin-inline: auto;
  width: fit-content;
  margin-top: 8px;
  padding-block: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1%;
  text-align: center;
  color: var(--clr-primary);
  font-family: 'Lato',sans-serif;
  border-bottom: 2px solid var(--clr-primary);
  display: block;
}

/* difference */

.difference {
  padding-bottom: 60px;
}

.diff-item {
  background-color: white;
  border-radius: 16px;
}

.diff-item .subject {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 4px;
  text-align: center;
}

.subject h4 {
  width: 100%;
  font-size: 16px;
  line-height:20px;
  font-family: 'Lato',sans-serif;
  position: relative;
}

.subject h4::after {
  content: '';
  width: 90%;
  height: 6px;
  position: absolute;
  bottom: -21px;
  left: 5%;
  background-color: rgba(122, 152, 116, 1);
  border-radius: 100vw 100vw 0 0 ;
}

.subject h4:active::after {
  background-color: red;
}

.underlinebar {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(122, 152, 116, 1);
}

.root,
.conventional,
.others {
  padding: 9px 16px 27px 16px;
}

.expert-care {
  width: fit-content;
  padding: 3px 8px;
  margin-bottom: 9px;
  display: flex;
  flex-wrap: nowrap;
  gap: 7px;
  background-color: var(--clr-seafoam-secondary);
  border-radius: 4px;
}

.expert-care p {
  color: var(--clr-primary);
}

.compare-item {
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

.compare-item:not(:last-child) {
  border-bottom: 1px solid rgba(143, 141, 125, 1);
}

.compare-item p {
  margin-block: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.compare-item p span {
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  color: var(--clr-mugwort);
}

.compare-item img {
  padding: 12.5px;
}

.root .compare-item img {
  border: 1px solid var(--clr-lightgreen);
  border-bottom: 0px;
  background-color: var(--clr-seafoam-secondary);
}

.root .compare-item:nth-child(1) img {
  border-radius: 5px 5px 0 0;
}

.root .compare-item:nth-child(n+2) img {
  border-top: 0px;
}

.root .compare-item:last-child img {
  border-bottom: 1px solid var(--clr-lightgreen);
  border-radius: 0px 0px 5px 5px;
}

:is(.conventional, .others) div p {
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 13px;
  color: var(--clr-mugwort);
}

:is(.conventional, .others) .compare-list .compare-item {
  position: relative;
}

:is(.conventional, .others) .compare-list .compare-item:has(img)::after {
  content: '*';
  position: absolute;
  right: 6px;
  top: 40%;
  font-size: 14px;
  color: var(--clr-primary);
}

.difference .btn {
  margin-top: 24px;
}

@media screen and (min-width:800px) {
  .difference h2 {
    margin-bottom: 32px;
  }

  .diff-item{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    border-radius: unset;
    background-color: transparent;
  }

  .diff-item .subject,
  .diff-item .underlinebar {
    display: none;
  }

  :is(.root, .conventional, .others) {
    border-radius: 32px;
    background-color: white;
    padding: 0 0 27px 0;
  }

  :is(.root, .conventional, .others) h4 {
    margin-bottom: 16px;
    padding-block: 24px;
    border-radius: 32px 32px 0 0 ;
    border-bottom: 2px solid var(--clr-lightgreen);
    text-align: center;
    font-weight: 700;
  }
  
  .root h4 {
    background-color: var(--clr-lightgreen);
    color: var(--clr-primary);
  }

  :is(.root, .conventional, .others) > *:nth-child(n+2) {
    margin-inline: 16px;
  }

  .compare-item p {
    margin-block: 24px;
  }
}

/* availability */

.availability {
  padding-bottom: 60px;
}

.availability h2 {
  margin-bottom: 24px;
}

.form-container {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  border-radius: 16px;
}

.form-container h3{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.states {
  padding-bottom: 16px;
  line-height: 28px;
  border-bottom: 1px solid rgba(196, 195, 187, 1);
}

.form {
  margin-bottom: 16px;
}

.form h4 {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Lato',sans-serif;
}

.form label {
  margin-left: 8px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Lato',sans-serif;
  display: block;
}

.form input,
.form select {
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  font-family: 'Lato',sans-serif;
  border: 2px solid rgba(123, 121, 107, 1);
  border-radius: 8px;
  display: block;
}

.form input:invalid,
.form select:invalid {
  border: 2px solid rgba(201, 37, 45, 1);
}

.form select {
  background-color: white;
}

.form select option {
  padding-inline: 8px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.form select option:hover {
  background-color: rgba(218, 230, 249, 1);
}

.form .btn {
  margin-top: 24px;
}

@media screen and (min-width:800px) {
  .availability {
    display: flex;
  }

  .availability .image-container {
    max-width: 690px;
    z-index: 2;
    position: relative;
  }

  .availability img {
    z-index: 2;
    position: relative;
  }

  .availability .image-container::after {
    content: '';
    background-color: rgba(245, 236, 224, 1);
    border-radius: 32px;
    width: 70%;
    height: 55%;
    position: absolute;
    top: 17.5%;
    left: 11%;
    z-index: 1;
  }
}

/* FAQ */

.faq-item-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-item {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  position: relative;
  z-index: 1;
}

.faq-item::after {
  right: 16px;
  top: 20px;
}

.faq-item h3 {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.faq-item p {
  padding-top: 16px;
  border-top: 1px solid rgba(196, 195, 187, 1);
}

@media screen and (min-width:800px) {
  .faq-item h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .faq-item p {
    font-size: 18px;
    line-height: 30px;
  }
}